@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
 :root{
    --color1: #051119;
    --color2: #121813;
    --color3: #191815;
 }


html, body{
    height: 100vh; /*Ocupa 100% da view point da altura*/
    width: 100vw;   /*Ocupa 100% da view point da largura*/
    background-color: #121813;
}
body{
    background: url(../pacote-d013/imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}
main{
    height: 100vh;
    position: relative;
}
#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 627px;
    width: 311px;
    background-image: url(../pacote-d013/imagens/frame-iphone.png);
    background-repeat: no-repeat;
}
#tela{
    position: relative;
    top: 80px;
    left: 23px;
    width: 269px;
    height: 471px;
}
#redes-sociais{
    text-align: right;
}
#redes-sociais img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.400);
    box-sizing: border-box;
}
#redes-sociais img:hover{
    border: 2px solid rgba(255, 255, 255, 0.636);
    transform: translate(-3px, -3px); /*negative value is left and top, when is positive , will go right and bottom
    */
    transition-duration: 0.5s;
    transition: border 1s;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.582);
}